/* *{
    margin: 0%;
    box-sizing: border-box;
} */

body{

    background-image: url("SMBackgrounds.jpg");
    flex-wrap: wrap;
    width: 1000pt;
    height: 1000pt;

}

.mario{
    display: inline-block;
    position: relative;
    margin: 5px;
    height: 360px;
    width: auto;
}

.goombas{
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 250px;
    height: auto;
    color: rgba(63, 204, 63, 0.74)
}

.bobOmbs{
    position: relative;
    display: inline-block;
    width: 260px;
    height: auto;
}

.cheepcheeps{
    display: inline-block;
    position: relative;
    widows: 300px;
    height: auto;
}

h3{
    padding: 5pt;
    text-align: left;
    margin: 30pt;
    position: relative;
    top: 700px;
    width: 45pt;
    height: auto;
}

footer{
    text-align: center;
    padding: 5px;
    color:rgba(213, 230, 61, 0.836);

}



form{
    color: rgba(61, 117, 230, 0.836);
    margin: 10px;
    padding: 10px;
}

h2{
    padding: 10px;
}

button{
    box-shadow: 3px;
    margin: 10px;
    padding: 9px;
}

p{
    margin: 25px;
    padding: 3px;
}

h4{
    color: rgba(138, 138, 247, 0.9)
}

#h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(218, 243, 79);
}