*{
    margin: 0%;
    box-sizing: border-box;
}

.mario{
    display: inline-block;
    position: relative;
    margin: 5px;
    height: 360px;
    width: auto;
}

.goombas{
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 250px;
    height: auto;
}

.bobOmbs{
    position: relative;
    display: inline-block;
    width: 260px;
    height: auto;
}

.cheepcheeps{
    display: inline-block;
    position: relative;
    widows: 300px;
    height: auto;
}

h3{
    position: absolute;
    top: 700px;
    width: 0% 50%;
    height: auto;
}

footer{
    text-align: center;
    padding: 5px;

}

form{
    margin: 10px;
    padding: 10px;
}

h2{
    padding: 10px;
}

button{
    box-shadow: 3px;
    margin: 10px;
    padding: 9px;
}