*{
    margin: 0;
    box-sizing: content-box;
    background: rgba(6, 191, 247, 0.39);
}
body{

    color: rgb(2, 48, 252);
}

div{

    position: relative;
}

#imageCRISPR{
    position: relative;
    background-image: url("https://www.cambridge.org/core/services/aop-file-manager/file/582df76221b559de0536a2c2");
    display: grid;
    max-width: 20pt;
    max-height: 30pt;
    margin: 5pt;
}
#imageThree{
    background-image: url("http://news.mit.edu/sites/mit.edu.newsoffice/files/styles/news_article_image_top_slideshow/public/images/2016/MIT-Program-Bacteria_0.jpg?itok=7YrMcwuE");
    padding: 5pt;
    margin: 5pt;
    background-repeat: repeat;
    border-radius: 5pt;
}

span{
    font-weight: bold;
}

#item1{
    grid-row: auto;
    border-radius: 25px;
    background: rgba(41, 136, 4, 0.192);
    margin: 5pt;
    padding: 35pt;
    text-align: left;
    display: grid;
    
}

#mitArtical{
    margin: 5pt;
    padding: 4.5pt;
    display: grid;
}

h1{
    padding: 5pt;
    text-align: center;
}

#item2{

    border-radius: 25px;
    background: rgba(40, 219, 174, 0.034);
    margin: 5pt;
    padding: 35pt;
    text-align: left;
    display: grid;
}



#mit{
    display: grid;
    padding: 15pt;
    border-radius: 1pt;
    margin: 2pt;
    position: fixed;
    top: 15pt;
}

#crispr{
    display: grid;
    padding: 15pt;
    border-radius: 1pt;
    margin: 2pt;
    top: 20pt;
    position: fixed;
}




