* {
    margin: 0;
    padding: 0;
}

#grid-container {

}




.page-wrapper {
    
    
}.intro {
   =
}

header{
   
}

body{
 
}

div{
   

}

main {
    
}

footer {
    
}
article{
    
}

@media only screen and (min-width: 700px){
    #container {
        grid-template-columns: 3fr 1fr;
    }

    main {
        grid-column: 1 / 2;
    }

    footer {
        grid-column: 2 / 3;
        grid-row: 1 / span 3;
        height: 100%;

    }
}