* { 
    box-sizing: border-box;
    margin: 0px;
    background-color: azure;
}

h1 {
    display: block;
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
}


article{
    margin: 20px;
    display: inline-block;
    width: 35%;
    height: auto;
    position: relative;
}

.article2{
    position: relative;
    margin: 20px;
    display: block;
    width: 75%;
    height: 100%;
}

#first-article{
    padding: 20px;
    position: relative;
    background-color: gray;
    margin: 5px;
    display: inline-block;
    width: 75%;
    height: 100%;
}
p{
    padding: 5px;
}