.france{
    margin: 10px 20px;
    background-color: white;
    height: 200px;
    width: 100%;
}

.red{
    background-color: red;
    padding: 125px 90px;
    width: 175px;
    height: 200px;
}

.white{
    background-color: white;
    padding: 125px 75px;
    margin-left: 50px;
    width: 150px;
    height: 200px;
}

.blue{
    background-color: blue;
    padding: 125px 75px;
    height: 200px;
    width: 175px;
}

.gblack{
    height: 200px;
    width: 35px;
    padding: 40px
}
body{
    height: 100vh;
}

.germany{
    margin-block-start: 40px 90px;
    padding: 200px 300px;
    height: 200px;
    width: 200px;
}

.gblack{
    padding-top: 200px;
    padding-bottom: 300px;
    height: 200px;
    width: 75px;
    
}